<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.blue.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.blue.domain.Answer" >
    <id column="answer_id" property="answerId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="scroe_level" property="scroeLevel" jdbcType="INTEGER" />
    <result column="question_reason" property="questionReason" jdbcType="VARCHAR" />
    <result column="question_reason_url" property="questionReasonUrl" jdbcType="VARCHAR" />
    <result column="advise" property="advise" jdbcType="VARCHAR" />
    <result column="advise_url" property="adviseUrl" jdbcType="VARCHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="analysis_url" property="analysisUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    answer_id, question_id, answer, content, scroe_level, question_reason, question_reason_url, 
    advise, advise_url, analysis, analysis_url, status, activated, deleted, updated_date, 
    created_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.blue.domain.Answer" >
    <selectKey resultType="java.lang.Integer" keyProperty="answerId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_answer (question_id, answer, content, 
      scroe_level, question_reason, question_reason_url, 
      advise, advise_url, analysis, 
      analysis_url, status, activated, 
      deleted, updated_date, created_date
      )
    values (#{questionId,jdbcType=INTEGER}, #{answer,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{scroeLevel,jdbcType=INTEGER}, #{questionReason,jdbcType=VARCHAR}, #{questionReasonUrl,jdbcType=VARCHAR}, 
      #{advise,jdbcType=VARCHAR}, #{adviseUrl,jdbcType=VARCHAR}, #{analysis,jdbcType=VARCHAR}, 
      #{analysisUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{updatedDate,jdbcType=TIMESTAMP}, #{createdDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.blue.domain.Answer" >
    <selectKey resultType="java.lang.Integer" keyProperty="answerId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="scroeLevel != null" >
        scroe_level,
      </if>
      <if test="questionReason != null" >
        question_reason,
      </if>
      <if test="questionReasonUrl != null" >
        question_reason_url,
      </if>
      <if test="advise != null" >
        advise,
      </if>
      <if test="adviseUrl != null" >
        advise_url,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="analysisUrl != null" >
        analysis_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="scroeLevel != null" >
        #{scroeLevel,jdbcType=INTEGER},
      </if>
      <if test="questionReason != null" >
        #{questionReason,jdbcType=VARCHAR},
      </if>
      <if test="questionReasonUrl != null" >
        #{questionReasonUrl,jdbcType=VARCHAR},
      </if>
      <if test="advise != null" >
        #{advise,jdbcType=VARCHAR},
      </if>
      <if test="adviseUrl != null" >
        #{adviseUrl,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="analysisUrl != null" >
        #{analysisUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.blue.domain.Answer" >
    update t_answer
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="scroeLevel != null" >
        scroe_level = #{scroeLevel,jdbcType=INTEGER},
      </if>
      <if test="questionReason != null" >
        question_reason = #{questionReason,jdbcType=VARCHAR},
      </if>
      <if test="questionReasonUrl != null" >
        question_reason_url = #{questionReasonUrl,jdbcType=VARCHAR},
      </if>
      <if test="advise != null" >
        advise = #{advise,jdbcType=VARCHAR},
      </if>
      <if test="adviseUrl != null" >
        advise_url = #{adviseUrl,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="analysisUrl != null" >
        analysis_url = #{analysisUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.blue.domain.Answer" >
    update t_answer
    set question_id = #{questionId,jdbcType=INTEGER},
      answer = #{answer,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      scroe_level = #{scroeLevel,jdbcType=INTEGER},
      question_reason = #{questionReason,jdbcType=VARCHAR},
      question_reason_url = #{questionReasonUrl,jdbcType=VARCHAR},
      advise = #{advise,jdbcType=VARCHAR},
      advise_url = #{adviseUrl,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      analysis_url = #{analysisUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
  
  
  <!-- 
  	List<Answer> selectAnswersByQuestionId(Integer questionId);
   -->
  <select id="selectAnswersByQuestionId" resultMap="BaseResultMap">
  	SELECT
	*
FROM
	t_answer
WHERE
	question_id = #{questionId}
  </select>
  
</mapper>