<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.blue.dao.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.blue.domain.Config" >
    <id column="config_id" property="configId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_mobile" property="companyMobile" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="copy_right" property="copyRight" jdbcType="VARCHAR" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    config_id, company_name, company_mobile, company_address, copy_right, activated, 
    deleted, updated_date, created_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_config
    where config_id = #{configId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_config
    where config_id = #{configId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.blue.domain.Config" >
    <selectKey resultType="java.lang.Integer" keyProperty="configId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_config (company_name, company_mobile, company_address, 
      copy_right, activated, deleted, 
      updated_date, created_date)
    values (#{companyName,jdbcType=VARCHAR}, #{companyMobile,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{copyRight,jdbcType=VARCHAR}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{updatedDate,jdbcType=TIMESTAMP}, #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.blue.domain.Config" >
    <selectKey resultType="java.lang.Integer" keyProperty="configId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyMobile != null" >
        company_mobile,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="copyRight != null" >
        copy_right,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyMobile != null" >
        #{companyMobile,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="copyRight != null" >
        #{copyRight,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.blue.domain.Config" >
    update t_config
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyMobile != null" >
        company_mobile = #{companyMobile,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="copyRight != null" >
        copy_right = #{copyRight,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where config_id = #{configId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.blue.domain.Config" >
    update t_config
    set company_name = #{companyName,jdbcType=VARCHAR},
      company_mobile = #{companyMobile,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      copy_right = #{copyRight,jdbcType=VARCHAR},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where config_id = #{configId,jdbcType=INTEGER}
  </update>
</mapper>