<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.blue.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.blue.domain.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_num, user_id, info_id, pay_type, description, status, amount, activated, 
    deleted, created_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.blue.domain.Order" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order (order_num, user_id, info_id, 
      pay_type, description, status, 
      amount, activated, deleted, 
      created_date, update_date)
    values (#{orderNum,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER}, 
      #{payType,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.blue.domain.Order" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.blue.domain.Order" >
    update t_order
    <set >
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.blue.domain.Order" >
    update t_order
    set order_num = #{orderNum,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      info_id = #{infoId,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  
  <!-- 
  	 List<UserOrderVos> selectOrderListBack(PagingTool pagingTool);
   -->
  <select id="selectOrderListBack" resultType="com.techwells.blue.domain.rs.UserOrderVos" parameterType="com.techwells.blue.util.PagingTool">
	  	 SELECT
		o.*, u.mobile AS mobile
	FROM
		t_user u
	INNER JOIN t_order o ON o.user_id = u.user_id
	<where>
		<if test="params.mobile!=null">
			and u.mobile=#{params.mobile}
		</if>
		
		<if test="params.orderNum!=null">
			and o.order_num=#{params.orderNum}
		</if>
		
		<if test="params.status!=null">
			and o.status=#{params.status}
		</if>
		
		<if test="params.userType!=null">
			and u.user_type=#{params.userType}
		</if>
		and o.deleted=2
	</where>
	ORDER by o.created_date desc
	limit #{startNum},#{pageSize}
  </select>
 
 <!-- 
 	int CountTotalOrderListBack(PagingTool pagingTool);
  -->
 <select id="CountTotalOrderListBack" resultType="java.lang.Integer" parameterType="com.techwells.blue.util.PagingTool">
	  	 SELECT
			count(*)
		FROM
			t_user u
		INNER JOIN t_order o ON o.user_id = u.user_id
		<where>
			<if test="params.mobile!=null">
				and u.mobile=#{params.mobile}
			</if>
			
			<if test="params.orderNum!=null">
				and o.order_num=#{params.orderNum}
			</if>
			
			<if test="params.status!=null">
				and o.status=#{params.status}
			</if>
			
			<if test="params.userType!=null">
				and u.user_type=#{params.userType}
			</if>
			and o.deleted=2
		</where>
  </select>
  
  
  <!-- 
  	List<Order> selectOrderList(PagingTool pagingTool);
   -->
  <select id="selectOrderList" resultMap="BaseResultMap" parameterType="com.techwells.blue.util.PagingTool">
		SELECT
			*
		FROM
			t_order
		<where>
			<if test="params.status!=null">
				AND activated = #{params.status}
			</if>
			and user_id = #{params.userId}
			and deleted=2
		</where>
		ORDER by created_date desc
		limit #{startNum},#{pageSize}
  </select>
  
 <!-- 
 	int countTotalOrderList(PagingTool pagingTool);
  -->
 <select id="countTotalOrderList" resultType="java.lang.Integer" parameterType="com.techwells.blue.util.PagingTool">
		SELECT
			count(*)
		FROM
			t_order
		<where>
			<if test="params.status!=null">
				AND activated = #{params.status}
			</if>
			and user_id = #{params.userId}
			and deleted=2
		</where>
  </select>
  
 
 <!-- 
 	Order selectOrderByOrderNum(String orderNum);
  -->
 <select id="selectOrderByOrderNum" resultMap="BaseResultMap">
 	SELECT
			*
		FROM
			t_order
		where order_num=#{orderNum}
 </select>
  
  
  
  
</mapper>