<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.blue.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.blue.domain.Report" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_num" property="reportNum" jdbcType="VARCHAR" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="stage" property="stage" jdbcType="INTEGER" />
    <result column="total_score" property="totalScore" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    report_id, report_num, report_name, user_id, organization, company, stage, total_score, 
    status, activated, deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.blue.domain.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="reportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_report (report_num, report_name, user_id, 
      organization, company, stage, 
      total_score, status, activated, 
      deleted, created_date, updated_date
      )
    values (#{reportNum,jdbcType=VARCHAR}, #{reportName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{organization,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{stage,jdbcType=INTEGER}, 
      #{totalScore,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.blue.domain.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="reportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportNum != null" >
        report_num,
      </if>
      <if test="reportName != null" >
        report_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="stage != null" >
        stage,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportNum != null" >
        #{reportNum,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null" >
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.blue.domain.Report" >
    update t_report
    <set >
      <if test="reportNum != null" >
        report_num = #{reportNum,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null" >
        report_name = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        stage = #{stage,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.blue.domain.Report" >
    update t_report
    set report_num = #{reportNum,jdbcType=VARCHAR},
      report_name = #{reportName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      organization = #{organization,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=INTEGER},
      total_score = #{totalScore,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
</mapper>