<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.blue.dao.SkillMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.blue.domain.Skill" >
    <id column="skill_id" property="skillId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    skill_id, content, activated, deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_skill
    where skill_id = #{skillId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_skill
    where skill_id = #{skillId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.blue.domain.Skill" >
    <selectKey resultType="java.lang.Integer" keyProperty="skillId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_skill (content, activated, deleted, 
      created_date, updated_date)
    values (#{content,jdbcType=VARCHAR}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.blue.domain.Skill" >
    <selectKey resultType="java.lang.Integer" keyProperty="skillId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.blue.domain.Skill" >
    update t_skill
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where skill_id = #{skillId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.blue.domain.Skill" >
    update t_skill
    set content = #{content,jdbcType=VARCHAR},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where skill_id = #{skillId,jdbcType=INTEGER}
  </update>
  
  
  <!-- 
  	List<Skill> selectListByIds(String[] ids);
   -->
  <select id="selectListByIds" resultMap="BaseResultMap">
  	select * from t_skill where skill_id in 
  	<foreach collection="ids" item="id" open="(" separator="," close=")">
  		#{id}
  	</foreach>
  </select>
  
  
  <!-- 
  	 List<Skill> selectSkillList(PagingTool pagingTool);
   -->
  <select id="selectSkillList" resultMap="BaseResultMap" parameterType="com.techwells.blue.util.PagingTool">
  	select * from t_skill
  	limit #{startNum},#{pageSize}
  </select>
  
  
  <!-- 
  	 int countTotalSkillList(PagingTool pagingTool);
   -->
  <select id="countTotalSkillList" resultType="java.lang.Integer" parameterType="com.techwells.blue.util.PagingTool">
  	select count(*) from t_skill
  </select>
  
  
</mapper>